html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
a {
	text-decoration: none;
}
button {
	color: black;
}
button:hover {
	cursor: pointer;
	color: rgb(144, 73, 18);
}
li{
	list-style-type: none;
}
section{
	box-sizing:border-box;
	border-right: 2px solid rgb(102, 193, 211);
}
.container {
	height: 100%;
}
.container section {
	padding: 14px;
	height: 100%;
	float: left;
}
#menu-section {
	width: 15%;
	height: 100%;
	background-color: rgb(22, 216, 201);
}
#menu-section input.input-class{
	width: 70px;
}
#menu-section #item-class li {
	padding: 4px 8px;
	cursor: pointer;
	transition:background-color 0.3s;
}
#menu-section #item-class li:hover {
	background-color: rgb(95, 97, 97);
}
#menu-section #item-class li .class-delete-trigger:hover {
	font-weight: 600;
}
#item-section {
	width: 30%;
	height: 100%;
	padding: 14px;
	background-color: rgb(243, 239, 229);
}
#item-section h1{
	padding-bottom: 8px;
	border-bottom: 1px solid #e0e0e0;
}
#form-add-trigger:hover,#add-class-trigger:hover {
	font-size: 30px;
}
#item-section .item {
	border: 1px solid white;
	margin-bottom: 8px;
	border-radius: 2px;
	cursor:pointer;
	padding: 8px;
	background-color: #F6F6F6;
	transition:background-color 0.5s, color 0.5s;
}
#item-section .item:hover {
	background-color: gray;
	color: white;
}
#item-section .item .item-title {
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}
#item-section .item p {
	font-size: 14px;
	margin: 0px;
}

#item-section .item p.item-abstract {
	line-height: 1.5;
	max-height: 42px;	
	overflow: hidden;
	text-overflow: ellipsis;
}
#detail-section {
	float: right;
	/* 宽度修改前是50%，有中间留白的问题 */
	width: 55%;
	height: 100%;
	background-color: rgb(243, 239, 229);

}
/*通用start*/
.clearfix:after {
	display: block;
	clear: both;
	content:'';
}
.pull-right {
	float: right;
}
.text_edit {
	width: 100%;
	height: 500px;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
.display-none {
	display: none;
}
.color-gray {
	color: rgb(243, 239, 229);
}
.font-white {
	color: white;
}
/*通用end*/
header{
	color: white;
	font-size: 1.5em;
	background-color: rgb(102, 193, 211);
	padding: 10px 40px;
	border-bottom: 2px solid #fff;
	height: 50px;
	line-height: 50px;
}
/*header */
nav{
	background-color: rgb(102, 193, 211);
}
nav li{
	float: left;
}
nav .nav-list {
	margin-right: 3rem;
}
nav .nav-list a{
	color: white;
}
/*输入框样式*/
.input-title{
	height:40px;
	font-size: 1.3em;
	border:none;
	border-bottom: 1px solid #eee;  
	width: 100%;
	padding: 5px 10px;
	box-sizing:border-box;
}
.input-abstract{
	width: 100%;
	border: none;
	box-sizing: border-box;
	height: 300px;
	padding: 5px 10px;	
}
#submit-add,#update-add{
	padding: .625em 1.25em;
  border-radius: 50px;
  background-color: rgb(102, 193, 211);
  color: white;
  font-size: 1em;
}
.form-control{
	margin-bottom: 10px;
}