html,body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: "Microsoft YaHei";
}
a {
	text-decoration: none;
}
li{
	list-style-type: none;
}
.container {
	height: 100%;
}
.container section {
	height: 100%;
	float: left;
}
#menu-section {
	width: 20%;
	height: 100%;
	background-color: rgb(243, 239, 229);
	/*border-right: 2px solid #fff;
	margin-right: -2px;*/
}
#item-section {
	width: 30%;
	height: 100%;
	padding: 14px;
	/*background-color: #36312C;*/
	background-color: rgb(243, 239, 229);
}
#item-section .item {
	margin-bottom: 8px;
	border-radius: 2px;
	cursor:pointer;
	padding: 8px;
	background-color: #F6F6F6;
	transition:background-color 0.5s, color 0.5s;
}
#item-section .item:hover {
	background-color: gray;
	color: white;
}
#item-section .item .item-title {
	width: 100%;
	font-size: 16px;
	line-height: 22px;
	font-weight: 600;
}
#item-section .item p {
	font-size: 14px;
	margin: 0px;
}
#detail-section {
	float: right;
	width: 50%;
	height: 100%;
	background-color: yellow;
}
.clearfix:after {
	display: block;
	clear: both;
	content:'';
}
.text_edit {
	width: 100%;
	height: 500px;
}
.floatleft{
	float:left;
}
.floatright{
	float:right;
}
header{
	color: white;
	font-size: 1.5em;
	background-color: rgb(102, 193, 211);
	padding: 10px 40px;
	border-bottom: 2px solid #fff;
	height: 50px;
	line-height: 50px;
}
/*header */
nav{
	background-color: rgb(102, 193, 211);
}
nav li{
	float: left;
}
nav .nav-list {
	margin-right: 3rem;
}
nav .nav-list a{
	color: white;

}